
@{
    ViewBag.Title = "Offer Management";
}

<div class="offerManagementWrap">
    <div class="offermanageTopHeading">
        <h2>Offer Management</h2>
        <a href=""> <img src="assets/images/OfferManagement_icons.svg" alt=""> Add Offer</a>
    </div>
</div>

<div class="managementTabSection">
    <div class="tabContentManagement">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#LiveOffers" role="tab">Live Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ArchivedOffer" role="tab">Archive Offers</a>
            </li>
        </ul>
        <div class="managementFilterSection">
            <button><img src="assets/images/filter.svg" alt=""></button>
            <form action="">
                <svg xmlns="http://www.w3.org/2000/svg" width="18.996" height="19" viewBox="0 0 18.996 19">
                    <path class="a" d="M18.866,18.021l-4.614-4.614a8.1,8.1,0,1,0-.8.8l4.614,4.614a.572.572,0,0,0,.4.169.555.555,0,0,0,.4-.169.569.569,0,0,0,0-.8ZM1.186,8.1a6.959,6.959,0,1,1,6.96,6.964A6.959,6.959,0,0,1,1.186,8.1Z" transform="translate(-0.035 0.01)"></path>
                </svg>
                <input type="text" placeholder="search...">
            </form>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="LiveOffers" role="tabpanel">
            <div class="managementOffersTabs">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Holi Discount</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF20</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>Rs.200 Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p>LIVE</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="ArchivedOffer" role="tabpanel">
            <div class="managementOffersTabs">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Holi Discount</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF20</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>Rs.200 Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="managenmentOferContent">
                            <div class="managenmentOferHeader">
                                <div class="getOfferSection">
                                    <h4>Get 10% off on your first order</h4>
                                    <span>Sat, 06 Feb 21 - Sat, 27 Feb 21</span>
                                </div>
                                <div class="offerCodeSection">
                                    <p>OFF10</p>
                                </div>
                            </div>
                            <div class="managementOfferBody">
                                <p class="useAgainSection">Use again</p>
                                <span>10% Off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>