
@{
    ViewBag.Title = "Add Menu";
}
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/Content/Pages/Menu.js"></script>
<div class="offerManagementWrap">
    <div class="offermanageTopHeading">
        <h2>Add Master Menu</h2>
        <!-- <a href=""> <img src="~/assets/images/OfferManagement_icons.svg" alt=""> Add Offer</a> -->
    </div>

    <div class="verticalTabSection">
        <div class="row">
            <div class="col-lg-3">
                <div class="tabVerticalContents">
                    <span>Type of Cuisine</span>
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="SouthIndian-tab" data-toggle="tab" href="#SouthIndian" role="tab" aria-controls="SouthIndian" aria-selected="true">
                                South Indian
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="NorthIndian-tab" data-toggle="tab" href="#NorthIndian" role="tab" aria-controls="NorthIndian" aria-selected="false">NorthIndian</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="OtherIndian-tab" data-toggle="tab" href="#OtherIndian" role="tab" aria-controls="OtherIndian" aria-selected="false">OtherIndian</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-lg-9">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="SouthIndian" role="tabpanel" aria-labelledby="SouthIndian-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#SouthIndianBreakfast" role="tab">Breakfast</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#SouthIndianLunch" role="tab">Lunch & Dinner</a>
                            </li>
                            
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="SouthIndianBreakfast" role="tabpanel">
                                <div class="southIndiaBreakFastContent">
                                    <div class="vegAndNon_veg">
                                        <h1 style="visibility: hidden;">Hello</h1>
                                        <span><img src="~/assets/images/vegan.svg" alt="">Veg</span>
                                    </div>
                                    <table class="table" id="tblBMenu1">
                                        <tbody></tbody>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <input type="file" id="fileInput1" name="fileInput1" hidden />
                                                <button type="button" onclick="chooseFile(1);" style="background: none;border: none;"> <img src="~/assets/images/menu.png" style="width: 50px;height: 50px;" alt="Upload Menu Picture"></button>
                                            </td>
                                            <td>
                                                <p style="width:200px;"><input type="text" id="txtMenuTitle1" autocomplete="off" class="form-control" placeholder="Menu Name" />  </p>
                                            </td>
                                            <td>
                                                <p style="width:150px;"> <input type="text" id="txtSalePrice1" autocomplete="off" class="form-control" placeholder="₹25" /></p>
                                            </td>
                                            <td>
                                                <p style="width:130px;"> <input type="text" id="txtQty1" autocomplete="off" class="form-control" placeholder="1 Plate" value="1 Plate" /></p>

                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="InStockButton" onclick="savemenu(1)">In Stock</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" onclick="savemenu(1)" class="orderbutton" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: #fff;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>

                                    </table>
                                    <div class="southIndiaFooterButton">
                                        <span>Skip to Next >></span>
                                        <a href="javascript:void(0);" onclick="savemenu(1)">Save & Next</a>
                                    </div>

                                    <div class="vegAndNon_veg">
                                        <h1 style="visibility: hidden;">Hello</h1>
                                        <span><img src="~/assets/images/Non_chicken.svg" alt="">Non-Veg</span>
                                    </div>
                                    <table class="table" id="tblBMenu2">
                                        <tbody></tbody>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <input type="file" id="fileInput2" name="fileInput2" hidden />
                                                <button type="button" onclick="chooseFile(2);" style="background: none;border: none;"> <img src="~/assets/images/menu.png" style="width: 50px;height: 50px;" alt="Upload Menu Picture"></button>
                                            </td>
                                            <td>
                                                <p style="width:200px;"><input type="text" id="txtMenuTitle2" autocomplete="off" class="form-control" placeholder="Menu Name" />  </p>
                                            </td>
                                            <td>
                                                <p style="width:150px;"> <input type="text" id="txtSalePrice2" autocomplete="off" class="form-control" placeholder="₹25" /></p>
                                            </td>
                                            <td>
                                                <p style="width:130px;"> <input type="text" id="txtQty2" autocomplete="off" class="form-control" placeholder="1 Plate" value="1 Plate" /></p>

                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="InStockButton" onclick="savemenu(2)">In Stock</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" onclick="savemenu(2)" class="orderbutton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: #fff;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>

                                    </table>
                                    <div class="southIndiaFooterButton">
                                        <a href="javascript:void(0);" onclick="savemenu(2)">Save</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="SouthIndianLunch" role="tabpanel">
                                <div class="southIndiaBreakFastContent">
                                    <div class="vegAndNon_veg">
                                        <h1 style="visibility: hidden;">Hello</h1>
                                        <span><img src="~/assets/images/vegan.svg" alt="">Veg</span>
                                    </div>
                                    <table class="table" id="tblBMenu3">
                                        <tbody></tbody>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <input type="file" id="fileInput3" name="fileInput3" hidden />
                                                <button type="button" onclick="chooseFile(3);" style="background: none;border: none;"> <img src="~/assets/images/menu.png" style="width: 50px;height: 50px;" alt="Upload Menu Picture"></button>
                                            </td>
                                            <td>
                                                <p style="width:200px;"><input type="text" id="txtMenuTitle3" autocomplete="off" class="form-control" placeholder="Menu Name" />  </p>
                                            </td>
                                            <td>
                                                <p style="width:150px;"> <input type="text" id="txtSalePrice3" autocomplete="off" class="form-control" placeholder="₹25" /></p>
                                            </td>
                                            <td>
                                                <p style="width:130px;"> <input type="text" id="txtQty3" autocomplete="off" class="form-control" placeholder="1 Plate" value="1 Plate" /></p>

                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="InStockButton" onclick="savemenu(3)">In Stock</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" onclick="savemenu(3)" class="orderbutton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: #fff;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>

                                    </table>
                                    <div class="southIndiaFooterButton">
                                        <span>Skip to Next >></span>
                                        <a href="javascript:void(0);" onclick="savemenu(3)">Save & Next</a>
                                    </div>

                                    <div class="vegAndNon_veg">
                                        <h1 style="visibility: hidden;">Hello</h1>
                                        <span><img src="~/assets/images/Non_chicken.svg" alt="">Non-Veg</span>
                                    </div>
                                    <table class="table" id="tblBMenu4">
                                        <tbody></tbody>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <input type="file" id="fileInput4" name="fileInput4" hidden />
                                                <button type="button" onclick="chooseFile(4);" style="background: none;border: none;"> <img src="~/assets/images/menu.png" style="width: 50px;height: 50px;" alt="Upload Menu Picture"></button>
                                            </td>
                                            <td>
                                                <p style="width:200px;"><input type="text" id="txtMenuTitle4" autocomplete="off" class="form-control" placeholder="Menu Name" />  </p>
                                            </td>
                                            <td>
                                                <p style="width:150px;"> <input type="text" id="txtSalePrice4" autocomplete="off" class="form-control" placeholder="₹25" /></p>
                                            </td>
                                            <td>
                                                <p style="width:130px;"> <input type="text" id="txtQty4" autocomplete="off" class="form-control" placeholder="1 Plate" value="1 Plate" /></p>

                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="InStockButton" onclick="savemenu(4)">In Stock</a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" onclick="savemenu(4)" class="orderbutton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: #fff;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>

                                    </table>
                                    <div class="southIndiaFooterButton">
                                        <a href="javascript:void(0);" onclick="savemenu(4)">Save</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="tab-pane fade" id="NorthIndian" role="tabpanel" aria-labelledby="NorthIndian-tab">
                        <h2>NorthIndian</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
                    </div>
                    <div class="tab-pane fade" id="OtherIndian" role="tabpanel" aria-labelledby="OtherIndian-tab">
                        <h2>OtherIndian</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>

                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
        </div>
    </div>

</div>

