
@{
    ViewBag.Title = "Package";
}

<div class="offerManagementWrap">
    <div class="offermanageTopHeading">
        <h2>Package 1</h2>
        <!-- <a href=""> <img src="~/assets/images/OfferManagement_icons.svg" alt=""> Add Offer</a> -->
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="packageLunchSection">
                <div class="lunchHeadingSection">
                    <h2>Lunch</h2>
                    <div class="foodNameSeciton">
                        <p><img src="~/assets/images/Non_chicken.svg" alt="">Non-veg</p>
                    </div>
                </div>
                <div class="foodsTableSection">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Monday</p>
                                    <img src="~/assets/images/package_Monday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Tuesday</p>
                                    <img src="~/assets/images/package_Tuesday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Wednesday</p>
                                    <img src="~/assets/images/package_Wednesday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Thursday</p>
                                    <img src="~/assets/images/package_Thursday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Friday</p>
                                    <img src="~/assets/images/package_Friday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Saturday</p>
                                    <img src="~/assets/images/package_Saturday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="foodsDayName">
                                    <p>Sunday</p>
                                    <img src="~/assets/images/package_Sunday.png" alt="">
                                </div>
                            </td>
                            <td>
                                <p>3 Roti, Biryani, Chicken Handi, Dal Fry</p>
                            </td>
                            <td>
                                <p>₹500</p>
                            </td>
                            <td>
                                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><defs><style>
                                                                                                                                        .a {
                                                                                                                                            fill: #fff;
                                                                                                                                        }
                                </style></defs><path class="a" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z" /></svg></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="foodsFooterImg">
                    <img src="~/assets/images/LunchFooter.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="LunchTypeSection">
                <div class="typeLunchContent">
                    <p><img src="~/assets/images/LunchType.svg" alt=""> Lunch</p>
                    <p><img src="~/assets/images/SouthIndian.svg" alt=""> South Indian</p>
                </div>
                <div class="LunchDateSection">
                    <p><img src="~/assets/images/calendar_icons.svg" alt=""> 12-03-21</p>
                    <p>Weekly , Monthly</p>
                </div>
            </div>

            <div class="CreatePackageSection">
                <ul>
                    <li>
                        <div class="weeklyPackage">
                            <p>₹4,425</p>
                            <span>
                                Actual Total price<br />
                                <b>Weekly Package</b>
                            </span>
                        </div>
                        <div class="weeklyPackage">
                            <p>₹6,425</p>
                            <span>
                                Actual Total price<br />
                                <b>Monthly Package</b>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="weeklyPricingSection">
                            <h3>Set Your Price (Weekly)</h3>
                            <p>₹4,000</p>
                        </div>
                        <div class="weeklyVariationSection">
                            <span>Variation</span>
                            <h3>10%</h3>
                        </div>
                    </li>
                    <li>
                        <div class="weeklyPricingSection">
                            <h3>Set Your Price (Monthly)</h3>
                            <p>₹6,000</p>
                        </div>
                        <div class="weeklyVariationSection">
                            <span>Variation</span>
                            <h3>10%</h3>
                        </div>
                    </li>
                    <li>
                        <img src="~/assets/images/shopGetway.svg" alt="">
                        <a href="">Create Package</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

